<div class="carousel slide adImage" data-ride="carousel" data-interval="30000" style="padding:2px;">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="http://www.yahoo.com"><img src="~/images/sponsor/areefcreation.gif" alt="ASP.NET" class="img-responsive" /></a>
        </div>
        <div class="item">
            <a href="http://www.yahoo.com"><img src="~/images/sponsor/captivereefs-banner.gif" alt="Visual Studio" class="img-responsive" /></a>
        </div>
        <div class="item">
            <a href="http://www.yahoo.com"><img src="~/images/sponsor/tfp.gif" alt="Package Management" class="img-responsive" /></a>
        </div>
    </div>
</div>



