@using System.Security.Claims


@if (User.IsSignedIn())
{
    <div style="margin: 2px 6px 0 0; padding: 2px">
        <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
            <div class="navbar-left">
                <button class="btn btn-success btn-xs" type="button" style="min-width:140px; text-align:left;">
                    <img src="~/images/fs_logo.gif" style="width:20px;height:20px;margin-right:5px;" />
                    @User.GetUserName()
                </button>
                <button type="submit" class="btn btn-danger btn-xs" style="padding: 0 10px;">Log off</button>
            </div>
            <div class="navbar-right" style="margin-right:0;" ng-cloak>
                <button class="btn btn-xs" ng-class="{'btn-primary': newMessages>0, 'btn-envelope': newMessages<1}" type="button">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span class="visible-lg-inline-block">Messages</span>
                    <span class="visible-md-inline-block">Msg</span>
                    <span class="badge">{{newMessages}}</span>
                </button>
                <button class="btn btn-xs" ng-class="{'btn-primary': newNotification>0, 'btn-envelope': newNotification<1}" type="button">
                    <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                    <span class="visible-lg-inline-block">Notifications</span>
                    <span class="visible-md-inline-block">Not</span>
                    <span class="badge">{{newNotification}}</span>
                </button>
            </div>
        </form>
    </div>
}
else
{
    <div style="margin: 2px 6px 0 0; padding: 2px">
        <a asp-controller="Account" asp-action="Login" class="btn btn-warning  btn-xs" style="margin-right:10px;width:100px;">Log in</a>
        <a asp-controller="Account" asp-action="Register" class="btn btn-warning btn-xs" style="margin-right:10px;width:100px;">Register</a>
    </div>
}
